@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    margin: 0;
    font-size: 16px;
    background-color: #000624;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* logo */
#header{
    height: 100px;
    background: #000624;
}

#logo{
    color: #fff;
    margin-top: 50px;
    font-size: 130%;
    text-align: center;
}

.color{
    color: #e50914;
}

/* The sidebar menu */
.sidebar {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1;  
    top: 0;
    left: 0;
    background-color: #000624;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e50914;
    display: block;
    transition: 0.3s;
  }
  
.sidebar a:hover {
    color: #fff;
  }
  
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #e50914;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5%;
    position: relative;
    bottom: 80px; 
        
  }
  
.openbtn:hover {
    background-color: #800080;
  }
  
/* Style page content - push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
  }

 /* landing page netflix quiz */
#landing-page-image{
    background: url(../images/N-quiz-img.jpg) no-repeat center center;
    width: 100%;    
    height: 600px;
    background-size: cover;
}

#landing-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#cover-text{
    font-size: 130%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 400px;
    height: 300px;
    
    margin: auto;
    padding-top: 20px;
    line-height: 40px;

    color: #fff;
        
}

#cover-text p, h2{
    text-align: center;
}

/* when quiz is finished you see div with text in screen */
.text-box{
    max-width: 500px;
    background-color: #fff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 200px;
}

.greeting{
    font-size: 130%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.text-box.hide{
    display: none;
}

/* styling custom box */
.custom-box{
    max-width: 700px;
    background-color: #fff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}


.custom-box.hide{
    display: none;
}

/* starting box */
.home-box h3{
    font-size: 20px;
    color: #000624;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000624;
    font-weight: 400;
    
}

.home-box p span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 15px;  
    
}

.btn{
    padding: 15px 45px;
    background-color: #000624;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    
}

#my-text{
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

/* quiz questions and options box */
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question.btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}


.quiz-box .question-number{
    font-size: 18px;
    color: #000624;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text{
    font-size: 22px;
    color: #000624;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;

}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);

    }
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}

.quiz-box .option-container .option.correct{
    color: #fff;
}

.quiz-box .option-container .option.wrong{
    color: #fff;
}

.quiz-box .btn{
    margin: 15px 0 ;
}

.quiz-box .answers-indicator{
    border-top: 1px solid #ccc;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.quiz-box .answers-indicator div.correct{
    background-color: green;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.quiz-box .answers-indicator div.wrong{
    background-color: red;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

/* result box of quiz */
.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #000624;
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000624;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn{
    margin-right: 20px;
}

/* Newsletter section with form when you push the subscribe button*/
.flex-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.wrapper h2{
    color: #fff;
    margin-bottom: 40px;
    font-size: 42px;
}

.wrapper p{
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.newsletter-image{
    background: url(../images/textures-patterns-light.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 60vh;
    
}

.newsletter{
    max-width: 550px;
    width: 100%;
    position: relative;
}

.newsletter .input{
    width: 100%;
    padding: 30px 100px 30px 60px;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

.newsletter .fas{
    position: absolute;
    bottom: 25%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
}

.newsletter .btn{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: #000624;

}

/* footer with soacial media links */
footer{
    height: 150px;
}

.media-icons{
    text-align: center;
    margin-top: 50px;
}

.media-icons li{
    display: inline;

}

.media-icons i{
    font-size: 250%;
    color: #e50914;
    margin: 20px;
}

.fab:hover{
    color: #800080;
}

.top{    
    font-size: 200%;
    text-align: center;
    margin: 10px;
}

.top a{
    color: #e50914;
}

.top .fas{
    color: #e50914;
}

/* media query for desktop */
@media(max-width: 1280px){
    form{
        margin-top: -250px;
    }
}


/* media query for ipad */
@media(max-width: 790px){
    .result-box .btn{
        margin: 15px;
    }

    .custom-box{
        max-width: 650px;
        margin-left: 35px;
    }

    body{
        padding: 15px;
    }

    #cover-text{
        width: 200px;
        height: 100px;
        text-transform: lowercase;
    }

    form{
        margin-top: -150px;
    }

    
}

/* media query for mobile */
@media(max-width: 460px){
    #header{
        height: 90px;
    }

    #logo{
        margin-top: 20px;
    }

    .openbtn{
        display: none;
    }

    #landing-outer{
        height: 400px;
    }

    .custom-box{
        margin-left: 2px;
        margin-right: 2px;
    }

    .wrapper{
        height: 400px;
    }

    .wrapper h2{
        font-size: 30px;
        margin: 20px;
        text-align: center;
    }

    .newsletter .btn{
        left: 100px;
        margin-top: 70px;
        background: #e50914;
        color: #000624;
    }

    form{
        width: 300px;
        margin-top: -80px;
    }

    .media-icons{
        font-size: 22px;
    }

    
}

/* media query for mobile iphoneX */
@media(max-width: 375px){
    .newsletter-image{
        height: 50vh;
    }
}

/* media query for mobile */
@media(max-width: 320px){
    .newsletter .btn{
        left: 65px;
    }

    .newsletter-image{
        height: 60vh;
    }

}


 